/* PHASE 4: Footer */

.footer {
    background-color: #fff;
    width: 900px;
    margin: auto;
    display: block;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;

    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #aaa
}

.footer-copy {
    float: left;
    padding-left: 20px;
}

.footer-links {
    float: right;
    padding-right: 20px;

}

.footer-links > li {
    float: left;
    padding-left: 20px;
}

.footer a {

}

.footer a:hover {
    color: black;
}

- Whitespace: 5px, 10px, 20px

